<div id="estadistica">
<ul>
	<li><b>Número preguntas:</b> <span class="numero"><%= statistics.numPreguntas %></span></li>
	<li><b>Número comentarios totales:</b> <span class="numero"><%= statistics.numComentarios	%></span></li>
	<li><b>Número medio de comentarios por pregunta:</b> <span class="numero"><%= statistics.numComentariosMedio %></span></li>
	<li><b>Número preguntas con comentarios:</b> <span class="numero"><%= statistics.numPregComent %></span></li>
	<li><b>Número preguntas sin comentarios:</b> <span class="numero"><%= statistics.numPregSinComent %></span></li>

</ul>
</div>